<h1>Orders</h1>
<p> </p>
<%= link_to "New Order", new_order_path(@order), class: 'btn btn-success' %>
<p></p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Order #</th>
      <th scope="col">Category</th>
      <th scope="col">Total</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <th scope="row"><%= link_to order.orderNum, order %></th>
        <td><%= order.category %></td>
        <td><%= order.orderTotal %></td>
        <td><%= order.orderStatus %></td>
      </tr>
    <% end %>
  </tbody>
</table>
